# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\University\Course-3\Моделювання_та_конструювання_програмного_забезпечення\Лаби_МКПЗ\Utilities-Service\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
